{% extends "base.html" %}

{% block css %}

    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

{% endblock css %}

{% block title %}Detalhes{% endblock title %}

{% block content %}

    <section class="py-5 mx-auto" style="max-width: 900px !important;">
        <div class="container">
            <div class="card p-4">
                <div class="card-header bg-white">
                    <h1 class="display-6 text-center fw-bold mb-4">{{ article.title }}</h1>
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <img src="{{ article.author.picture.url }}" alt="{{ article.author.username }}" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
                        <div>
                            <p class="fs-6 fw-bold mb-0">Autor: {{ article.author.user.username }}</p>
                            <p class="mb-0"><small class="text-muted">{{ article.created_at }}</small></p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text mb-4">{{ article.content|safe }}</p>

                    {% comment %} Tags {% endcomment %}
                    {% if article.tags.exists %}
                        {% for tag in article.tags.all %}
                            <span class="badge bg-success me-2">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="card-footer mt-4 bg-white">

                    {% comment %} Likes {% endcomment %}
                    <div class="d-flex align-items-center gap-3 mt-4">
                        <form action="{% url "article_like" article.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="bi bi-hand-thumbs-up"></i>
                                <span class="ms-2">{{ likes }}</span>
                            </button>
                        </form>

                        <button class="btn btn-outline-info">
                            <i class="bi bi-chat"></i>
                            <span class="ms-2">{{ comments|length }}</span>
                        </button>
    
                        {% comment %} Controles {% endcomment %}
                        {% if request.user.is_authenticated and request.user == article.author.user %}
                            <div class="d-flex align-items-center gap-3">
                            
                                <a href="{% url 'article_update' article.pk %}" class="btn btn-outline-success">Editar</a>
                                <a href="{% url 'article_delete' article.pk %}" class="btn btn-outline-danger">Excluir</a>
                                
                            </div>
                        {% endif %}
                    </div>

                    {% comment %} Comentários {% endcomment %}
                    <h6 class="fs-4 fw-bold mt-4">Comentários</h6>
                    {% for comment in comments %}
                    
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="{{ comment.author.picture.url }}" alt="{{ comment.author.full_name }}">
                                    <div>
                                        <p class="fs-6 fw-bold mb-0">Autor: {{ comment.author }}</p>
                                        <p class="mb-0"><small class="text-muted">{{ comment.created_at }}</small></p>
                                    </div>
                                </div>
                                <p class="card-text mt-3">{{ comment.text }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>Sem comentários ainda.</p>
                    {% endfor %}

                    {% comment %} Formulário de Comentar {% endcomment %}
                    <h6 class="fw-bold mt-4">Adicionar Comentário</h6>
                    {% if user.is_authenticated %}
                        <form action="{% url 'article_comment' article.pk %}" method="post" class="mb-5">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <button type="submit" class="btn btn-info">Enviar</button>
                        </form>
                    {% else %}
                        <p>
                            Você precisa <a class="badge bg-warning" href="{% url 'login' %}?next={% url 'article_detail' article.pk %}">fazer login</a> para comentar.
                        </p>
                    {% endif %}

                    
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'article_list' %}" class="btn btn-primary fs-5 btn-lg">Voltar para Feed</a>
            </div>
        </div>
    </section>

{% endblock content %}
